@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
} 

.resaltar {
    color: #0a080e;
}

.Cartas {
    display: flex;
    gap: 10px;
    max-width: 1200px;
    margin: 15rem;
    display: block;
    border: solid rgb(9, 9, 15) 5px;
    padding: 10px;
    color: rgb(211, 207, 202);
}

.Cartas h1 {
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    margin-bottom: 10px;
}

.Content {
    display: flex;
    gap: 20px;
    border: #1e1e1f
}

.aboutme {
    text-align: center;
    flex-direction: column;
    background-color:#1e1e1f;
    border-radius: 30px;
    padding: 20px;

}


body {
    background: linear-gradient(
    120deg,
    rgba(9, 8, 19, 0.808) 0%,
    rgb(10, 24, 27) 16%,
    rgb(95, 95, 97) 33%,
    rgb(67, 9, 241) 51%,
    rgb(90, 7, 7) 65%,
    rgb(5, 4, 4) 100%
    );
    
}

header{
display: flex;
height: 10px;
justify-content:space-between;
align-items: center;
background-color:U ;
padding: 50px;
min-height: 1vh;
}

img {
    max-width: 150%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    display: flex;
    height: 80px;
    margin-right: 70px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4f0de7;
    padding: 0.5rem;
}

ul a {
    color: rgb(233, 230, 230);
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header-content {
    display: flex;
    margin-top: 1px;
}

.header-txt {
    flex-basis: 50%;
    padding-right: 1px;
}

.header-txt h1 {
    font-size: 100px;
    line-height: 1;
    color: rgb(253, 252, 253);
    margin-bottom: 25px;
}

.header-txt p {
    font-size: 20px;
    color: rgb(233, 225, 225);
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 15px 50px;
    background: linear-gradient(
        90deg,
        rgb(39, 19, 39) 30%,
        rgb(255, 41, 4) 80%
    );
    color: white;
    font-size: 15px;
    border-radius: 20px;
}
